[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
python-dotenv = "*"
ecdsa = "*"
tinydb = "*"
click = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
flask-script = "*"
pycryptodomex = "*"

[dev-packages]
pylint = "*"
ipython = "*"
ipdb = "*"
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
