[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = ">=3.11"
pycryptodomex = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.7"
