version: '2'
services:
  eth-client-monitored:
    build: eth-client
    # restart: on-failure
    container_name: eth-client-monitored
    hostname: ${ETH_MONITORED_HOST}
    links:
      - netstats
    volumes:
      - ./files/password:/root/files/password:ro
      - ./files/genesis.json:/root/files/genesis.json:ro
      - ./files/keystore:${ETH_DATA_DIR}/keystore:rw
    ports:
      - "30303:30303"
      - "30303:30303/udp"
      - "8545:8545"
    environment:
      WS_SECRET: ${WS_SECRET}
      WS_SERVER: ${WS_SERVER}
      NODE_ENV: ${NODE_ENV}
      TZ: ${TZ}
      ETH_DATA_DIR: ${ETH_DATA_DIR}
      ETH_MONITORED_HOST: ${ETH_MONITORED_HOST}
      ETH_NETWORK_ID: ${ETH_NETWORK_ID}
      ETH_NODEKEYHEX: ${ETH_NODEKEYHEX}
      ETH_LOGGING_VERBOSITY: ${ETH_LOGGING_VERBOSITY}
    entrypoint: /root/start.sh
    command: '--datadir=${ETH_DATA_DIR} 
              --ipcpath ${ETH_DATA_DIR}/geth.ipc 
              --nodekeyhex=${ETH_NODEKEYHEX}
              --rpcapi "db,personal,eth,net,web3" 
              --rpccorsdomain="*" 
              --networkid=${ETH_NETWORK_ID} 
              --rpc 
              --rpcaddr="0.0.0.0"
              --verbosity ${ETH_LOGGING_VERBOSITY}
              --mine'

  eth:
    build: eth-client
    # restart: on-failure
    links:
      - eth-client-monitored
      - netstats
    volumes:
      - ./files/password:/root/files/password:ro
      - ./files/genesis.json:/root/files/genesis.json:ro
      - ./files/keystore:${ETH_DATA_DIR}/keystore:rw
    environment:
      WS_SECRET: ${WS_SECRET}
      WS_SERVER: ${WS_SERVER}
      NODE_ENV: ${NODE_ENV}
      TZ: ${TZ}
      ETH_MONITORED_HOST: ${ETH_MONITORED_HOST}
      ETH_DATA_DIR: ${ETH_DATA_DIR}
      ETH_NETWORK_ID: ${ETH_NETWORK_ID}
      ETH_BOOTNODE: ${ETH_BOOTNODE}
      ETH_LOGGING_VERBOSITY: ${ETH_LOGGING_VERBOSITY}
    entrypoint: /root/start.sh
    command: '--datadir=${ETH_DATA_DIR} 
              --ipcpath ${ETH_DATA_DIR}/geth.ipc 
              --rpccorsdomain="*" 
              --networkid=${ETH_NETWORK_ID} 
              --rpc 
              --bootnodes="enode://${ETH_BOOTNODE}@XXX:30303"
              --verbosity ${ETH_LOGGING_VERBOSITY}
              --mine'

  netstats:
    build: eth-netstats
    restart: on-failure
    container_name: eth-netstats
    environment:
      WS_SECRET: ${WS_SECRET}
      TZ: ${TZ}
    ports:
      - "3000:3000"

  # eth-playground:
  #   build: eth-client
  #   restart: on-failure
  #   links:
  #     - eth-client-monitored
  #     - netstats
  #   volumes:
  #     - ./files/password:/root/files/password:ro
  #     - ./files/genesis.json:/root/files/genesis.json:ro
  #     # - ./data-playground:${ETH_DATA_DIR}
  #     - ./files/keystore:${ETH_DATA_DIR}/keystore:rw
  #   environment:
  #     WS_SECRET: ${WS_SECRET}
  #     WS_SERVER: ${WS_SERVER}
  #     NODE_ENV: ${NODE_ENV}
  #     TZ: ${TZ}
  #     ETH_MONITORED_HOST: ${ETH_MONITORED_HOST}
  #     ETH_DATA_DIR: ${ETH_DATA_DIR}
  #     ETH_NETWORK_ID: ${ETH_NETWORK_ID}
  #   command: tail -F ${ETH_DATA_DIR}/geth.ipc
  #   # command: tail -f geth.log
